.chartContainer {
  width: 100%;
  margin: auto;
  border-radius: 1.5rem;
  /* background: #ffffff; */
  /* box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08); */
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chartContainer .legends li span {
  height: 15px;
  width: 15px;
  margin: auto 0.5rem;
}
.chartContainer .legends {
  display: flex;
  gap: 1.5rem;
}
.chartContainer .legends li {
  border-bottom: none;
}
.chartContainer .legends li:nth-child(1) span {
  background-color: #10b981;
}
.chartContainer .legends li:nth-child(2) span {
  background-color: #a855f7;
}
.chartContainer .legends li:nth-child(3) span {
  background-color: #6366f1;
}
.chartContainer .legends li:nth-child(4) span {
  background-color: #f97316;
}
.chartContainer .legends li:nth-child(5) span {
  background-color: #06b6d4;
}
