.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modal {
  background: #ffffff;
  padding: 2rem;
  border-radius: 1rem;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease-in-out;
}

.newChatBtn {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  margin-bottom: 1.5rem;
  transition: background 0.2s;
}

.newChatBtn:hover {
  background-color: #005ad6;
}

.chatList {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  max-height: 300px;
  overflow-y: auto;
}

.chatItem {
  background-color: #f4f4f4;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.2s;
  display: flex;
  /* flex-direction: column; */
  gap: 0.5rem;
  justify-content: space-between;
}

.chatItem * {
  margin: 0;
}

.chatItem h3 {
  font-weight: 550;
}

.chatItem p {
  font-size: 0.9rem;
}

.chatItem:hover {
  background-color: #eaeaea;
}

.empty {
  color: #666;
  text-align: center;
  font-style: italic;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.buttonContainer button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  opacity: 0.8;
}

.buttonContainer button:hover {
  scale: 1.1;
  cursor: pointer;
  opacity: 1;
}

.buttonContainer button:active {
  scale: 1;
  opacity: 0.5;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.nameForm {
  display: flex;
  gap: 0.2rem;
  margin: 0.3rem 0;
}

.nameForm input {
  border-radius: 5px;
  border: 1px solid black;
  padding: 0.3rem;
  font-size: 1rem;
}

.nameForm button {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nameForm button:hover {
  cursor: pointer;
}

.nameForm button:hover svg {
  fill: black;
  stroke: white;
}

@media (max-width: 657px) {
  .modal {
    max-width: 300px;
  }
  .nameForm input {
    width: 70%;
    font-size: 0.8rem;
  }
}

@media (max-width: 491px) {
  .nameForm button svg {
    height: 1.3rem;
    width: 1.3rem;
  }
  .nameForm {
    margin: 0.2rem 0;
  }
}

@media (max-width: 490px) {
  .modal {
    padding: 1rem;
  }
  .chatItem h3 {
    font-size: 0.9rem;
  }
  .chatItem p {
    font-size: 0.8rem;
  }
}

@media (max-width: 385px){
  .chatItem{
    /* flex-direction: column; */
    width: fit-content;
    margin: auto;
    width: 70vw;
  }
  .modal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80vw;
  }
}