.wrapper {
  padding: 1rem;
  background: #f9fafc;
  font-family: 'Segoe UI', sans-serif;
  color: #2c2c2c;
  height: 55vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.queryBox {
  background-color: #e7f0fd;
  padding: 1rem 1.5rem;
  border-radius: 12px;
  border: 2px dashed black;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 8px 4px black;
}

.queryBox h2 {
  margin: 0.5rem 0;
  color: black;
  font-size: clamp(1rem, 2vw, 1.4rem);
}

.queryBox ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.queryBox li {
  padding: 0.25rem 0;
  font-size: clamp(0.9rem, 1.8vw, 1rem);
}

.emailList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.emailCard {
  background: #ffffff;
  padding: 1.5rem;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
  overflow: hidden;
}

.emailCard h3 {
  font-size: clamp(1rem, 2vw, 1.3rem);
  color: #1a237e;
  margin: 0.5rem 0;
}

.meta {
  font-size: clamp(0.8rem, 1.5vw, 0.95rem);
  color: #555;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 0.75rem;
}

.meta span:nth-child(3) {
  width: 100%;
}

.meta span:nth-child(2) {
  flex: 1;
  text-align: right;
}

.body {
  font-size: clamp(0.95rem, 2vw, 1.1rem);
  color: #333;
  margin-bottom: 0.5rem;
  white-space: pre-wrap;
}

.snippet {
  font-style: italic;
  font-size: clamp(0.75rem, 1.4vw, 0.9rem);
  color: #777;
}

.noEmail {
  font-size: clamp(1rem, 2vw, 1.2rem);
  color: #999;
  text-align: center;
}

@media (max-width: 640px) {
  .meta {
    flex-direction: column;
    gap: 0.5rem;
  }
  .meta span:nth-child(3) {
    width: fit-content;
  }

  .meta span:nth-child(2) {
    flex: auto;
    text-align: left;
    order: 3;
  }
}
